@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
body{
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Courier New', Courier, monospace; */
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    /* font-family:  fantasy; */
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.stream{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--white);
    height: 100vh;
}
.stream-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 40%;
    height: 60%;
    border-right: 0.5px solid var(--white);
}
#thumbnail-left{
    width: 50%;
    /* height: 18.75rem; */
}

.gradient-text {
    background-image: linear-gradient(45deg, #ff00cc, #3333ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
  }

.song-name-stream-left{
    font-size: 3rem;
}
.artist-name-stream-left{
    font-size: 1.5rem;
}
.stream-right{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    overflow-y: scroll;
    padding-right: 3%;
}
.stream-right-song{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
}
#thumbnail-right{
    width: 4rem;
    height: 4rem;
}
.stream-right-song img{
    width: 1rem;
    height: 1rem;
}
.song-name-stream-right{
    font-size: 18px;
    letter-spacing: 1.8px;
}
.artist-name-stream-right{
    font-size: 18px;
}
.duration{
    font-size: 15px;
}