   
    <div class="media-player ">
        <!-- <div class="player"> -->

            <!-- <div class="media-seeker"> -->
                <input type="range" id="seeker-bar" value="0" min="0" max="100" step="0.1">
            <!-- </div> -->
            <div class="media">
                
                <div class="media-buttons">
                    <img src="assets/randomize-white.png" alt="" class="randomize">
                    <img src="assets/previous-track-white.png" alt="" onclick="playPrevious()" class="previous">
                    <img src="assets/play-white.png" alt="" onclick="playPause(event)" id="play" class="play-pause">
                    <img src="assets/pause-white.png" alt="" onclick="playPause(event)" id="pause" style="display: none;" class="play-pause">
                    <img src="assets/next-track-white.png" alt="" onclick="playNext()" class="next">
                    <img src="assets/repeat-button-white.png" alt="" class="repeat">
                </div>
                <div class="volume">
                    <img src="assets/volume.png" alt="">
                    <input type="range" value="100" min="0" max="100" id="volume-seeker">

                </div>
            </div>
        <!-- </div> -->
    </div>
   