<div class="about">
    <div class="content-about">
        <div class="static-text">Music</div>
        <ul class="dynamic-text">
            <li><span>By You</span></li>
            <li><span>For You</span></li>
        </ul>
    </div>
</div>
<div class="features">
    <div class="blur-features"></div>
    <div class="content-features">
        <div class="feature-stream">
            <span class="glass-morph">Stream</span>
            <img src="/assets/elements/stream.png" alt="" class="feature-stream-img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam debitis facere, nihil quia excepturi officia dolore tempore sunt odio ab consequuntur voluptates modi, placeat distinctio sapiente. Ipsam, sequi! Pariatur vel modi vero quos temporibus voluptates iste iure quasi architecto ipsum cupiditate ea repellendus ipsa, eveniet tempora deserunt. Facere, voluptatum aspernatur.</p>
        </div>
        <div class="feature-upload">
            <span>Upload</span>
            <img src="/assets/elements/upload.png" alt="" class="feature-upload-img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam debitis facere, nihil quia excepturi officia dolore tempore sunt odio ab consequuntur voluptates modi, placeat distinctio sapiente. Ipsam, sequi! Pariatur vel modi vero quos temporibus voluptates iste iure quasi architecto ipsum cupiditate ea repellendus ipsa, eveniet tempora deserunt. Facere, voluptatum aspernatur.</p>
        </div>
        <div class="feature-search">
            <span>Search</span>
            <img src="/assets/elements/search.png" alt="" class="feature-search-img">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam debitis facere, nihil quia excepturi officia dolore tempore sunt odio ab consequuntur voluptates modi, placeat distinctio sapiente. Ipsam, sequi! Pariatur vel modi vero quos temporibus voluptates iste iure quasi architecto ipsum cupiditate ea repellendus ipsa, eveniet tempora deserunt. Facere, voluptatum aspernatur.</p>
        </div>
    </div>
</div>
<div class="getstarted">
    <div class="blur-getstarted"></div>
    <div class="content-getstarted">
        <span>Get Started</span>
        <a id="login-home" href="\login">Log In</a>
    </div>
</div>