<div class="about">
    <div class="content-about">
        <div class="static-text">Music</div>
        <ul class="dynamic-text">
            <li><span>By You</span></li>
            <li><span>For You</span></li>
        </ul>
    </div>
</div>
<div class="features">
    <div class="content-features">Features</div>
</div>
<div class="getstarted">
    <div class="content-getstarted">Get Started</div>
    <button id="login">Log In</button>
</div>