<div class="card-general glass-morph">
    <img src="/assets/alt-cover.png" alt="" id="thumbnail-card">
    <div class="queue-song-details">
        <span class="song-name-card">Song Name</span>
        <span class="artist-name-card">Artist Name</span>
        <span class="song-views">
            <img src="/assets/plays.png" alt="" class="play">
            651
        </span>
    </div>
</div>