<div class="footer">
    <div class="footer-details">
        <span>About Us</span>
        <span>Contact Us</span>
    </div>
    <div class="footer-develop">
        <span>Developed By</span>
        <span>Soubhik</span>
        <span>Saswat</span>
        <span>Maheswar</span>
    </div>
    <div class="github">
        <img src="/assets/github-mark.png" alt="">
    </div>
</div>

<script src="scripts/player.js"></script>
</body>
</html>