<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="/styles/root.css" rel="stylesheet" />
    <link href="/styles/navbar.css" rel="stylesheet" />
    <link href="/styles/about.css" rel="stylesheet" />
    <link href="/styles/streamplatform.css" rel="stylesheet" />
    <link href="/styles/card-general.css" rel="stylesheet" />
    <link href="/styles/dashboard-content.css" rel="stylesheet" />
    <link href="/styles/card-dashboard.css" rel="stylesheet" />
    <link href="/styles/footer.css" rel="stylesheet" />
</head>
<body>
    

  
