<nav class="navbar glass-morph">
    <div class="logo">TUNESCAPE</div>
    <input type="search" name="" id="search" class="glass-morph" placeholder="Search" autocomplete="off">
    <div class="nav-buttons">
        <button id="stream">STREAM</button>
        <button id="dashboard">DASHBOARD</button>
        <button id="signup">SIGN IN</button>
    </div>
</nav>