<nav class="navbar glass-morph">
    <a href="/" class="logo">TUNESCAPE</a>
    <input href="/search" type="search" name="" id="search" class="glass-morph" placeholder="Search" autocomplete="off">
    <div class="nav-buttons">
        <a href="/stream" id="stream">STREAM</a>
        <a href="/dashboard" id="dashboard">DASHBOARD</a>
        <a href="/sign-in" id="signup">SIGN IN</a>
    </div>
</nav>