<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <style>
        #image_from_s3{
            border-radius: 10px;
            width: 20%;
            
        }
        body{
            color:rgb(118, 95, 140)
        }
    </style>

</head>
<body>
    <center>

        <img id="image_from_s3" src="<%=src%>" alt="UserPicture/MusicThumbnail">
        <br>
        <br>
        <br>
        <br>
        <br>
        <h1><%=src%></h1>
    </center>
</body>
</html>