.search-container{
    background-color: blueviolet;
    color: white;
    padding: 7rem 12rem 5rem 12rem;
}
.search-result{
    border: 2px solid green;
    border-radius: 3rem;
    overflow: auto;
}
.search-result>span{
    font-size: 1.8rem;
    position: sticky;
    display: flex;
    align-self: center;
    top: 0;
    height: 4rem;
    font-size: 2rem;
    padding: 1rem 0rem 0rem 2rem;
    z-index: 2;
}
.search-cards{
    padding: 0.3rem 1rem;
}