<div class="card-dashboard">
  <div class="dashboard-thumbnail-container">
    <img src="/assets/alt-cover.png" alt="" class="dashboard-thumbnail" />
    <div class="dashboard-song-details">
      <span>Song Name</span>
      <span>Artist</span>
    </div>
  </div>
  <div class="dashboard-song-buttons">
    <span class="play-number">36892
        <img src="/assets/icons/plays-white.png" alt="" class="play" />
    </span>
    <img src="/assets/icons/edit-outline-white.png" alt="" class="edit" />
    <img src="/assets/icons/trash-bin-outline-white.png" alt="" class="delete" />
    <img src="/assets/icons/upload-white.png" alt="" class="download" />
  </div>
</div>
