<div class="card-general glass-morph">
    <img src="/assets/alt-cover.png" alt="" id="thumbnail-card">
    <div class="queue-song-details">
        <span class="song-name-card"><%= title%></span>
        <span class="artist-name-card"><%= artistName%></span>
        <span class="song-views">
            <img src=<%= thumbnailHash%> alt="" class="play">
            <span><%= plays%></span>
        </span>
    </div>
</div>