<div id="nav-wrapper">

  <nav class="navbar">
    <div class="logo">
      <a href="">TUNESCAPE</a>
      </div>
      <div class="icons">
        <a href="">STREAM</a>
        <a href="">DASHBOARD</a>
        <a href="">PROFILE</a>
      </div>
      <div class="toggle_btn">
        <i
        id="toggle_icon"
        class="fa fa-bars"
        style="color: #ffffff"
        ></i>
      </div>
      <div class="dropdown-icons">
        <a href="">STREAM</a>
        <a href="">DASHBOARD</a>
        <a href="">PROFILE</a>
      </div>
    </nav>
    
  </div>
    
    