<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    body{
        background-color: beige;
        font-family:Georgia, 'Times New Roman', Times, serif
    }

</style>
<body>
    <center>
        <h1>Tunescape</h1>
        <%=hash_key%>
        <br>
        <br>
        <br>
        <br>
    </center>

        <center>
    <audio controls autoplay>
        <source src="https://d1uzpajnrcv6ws.cloudfront.net/<%=hash_key%>" type="audio/ogg">
      </audio>
</center>
</body>
</html>