.main__container {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  overflow-y: hidden;
  margin-top: 1rem;
}

.main__container > h2,
p {
  color: white;
  font-family: "Poppins";
  text-align: center;
  margin: auto;
}

.main__container > img {
  width: 10%;
  height: 10%;
  flex-shrink: 0;
}
.songname, .artistname {
  margin-right: 5rem;
  white-space: nowrap;
  width: 20%;
  text-overflow: ellipsis;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: left;
  margin: auto;
}