/* body{
    background: var(--black);
} */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    padding: 0 3rem;
}
.logo a{
    color: var(--white);
    text-decoration: none;
    font-size: 16px;
}
.icons a{
    color: var(--white);
    text-decoration: none;
    margin-left: 1.5rem;
    font-size: 15px;
}
.dropdown-icons{
    display: none;
    position: absolute;
    right: 0rem;
    top: 4rem;
    width: 10rem;
    height: 0;
    overflow: hidden;
}
.dropdown-icons.open{
    overflow: visible;
}
.dropdown-icons a{
    text-decoration: none;
    display: flex;
    color: var(--white);
    padding: 0.2rem 0;
}
.toggle_btn{
    color: var(--white);
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}
@media (max-width:700px){
    .toggle_btn{
        display: block;
    }
    .icons{
        display: none;
    }
    .dropdown-icons{
        display: block;
    }
}