<div className="login-container">
    <div className="login">
        <div className="login-heading">Log In</div>
        <div className="email-login">
            Email:
            <input type="email" name="" id="" />
        </div>
        <div className="password-login">
            Password:
            <input type="password" name="" id="" />
        </div>
        <button className="login-button">Login</button>
    </div>
</div>