.about{
    /* background-color: var(--secondary-color); */
    /* background: linear-gradient(to top, var(--color1), var(--color2), var(--color3)); */
    background-image: url('/assets/about-bg2.jpg');
    background-position: center;
    background-size: cover;
    height: 45rem;
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
    color: white;
}
.content-about{
    font-family: var(--font-main);
    /* font-weight: 900; */
    white-space: nowrap;
    font-size: 7rem;
    margin: 10%;
    line-height: 5.9rem;
    border-radius: 1rem;
    padding: 2rem;
    width: 80%;
}
.static-text{
    /* text-shadow: unset 1rem 1rem 10px black; */
    font-weight: var(--font-wt-bold);
    color: rgb(255, 255, 255);
    text-shadow: rgba(255, 255, 255, 0.9) 0px 0px 50px;
    
}
.dynamic-text li{
    font-size: 4rem;
    list-style: none;
    font-weight: var();
    line-height: 5rem;
}
.features{
    background-color: var(--secondary-color);
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-features{
    font-size: 5rem;
}
.getstarted{
    background-color: var(--secondary-color);
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content-getstarted{
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
#login{
    width: 12rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.2rem;
}
#login:hover{
    background-color: var(--hover-color);
}