.footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 5rem;
    background-color: var(--secondary-color);
}
.footer-details,.footer-develop{
    display: flex;
    flex-direction: column;
    color: var(--hover-color);
}
.github img{
    height: 4rem;
    width: 4rem;
}