.getstarted{
    background-color: beige;
    height: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.content-getstarted{
    font-size: 5rem;
    margin-bottom: 0.5rem;
}
#login{
    width: 12rem;
    height: 3rem;
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.2rem;
}
#login:hover{
    background-color: #c8c8c8;
}