@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&family=Quicksand:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;300;500;700;800&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: rgb(159, 169, 100);
  --secondary-color: rgb(245, 245, 220);
  --hover-color: rgb(200, 200, 200);
  --color1: #0a0e16;
  --color2: #191747;
  --color3: #362e77;
  --color4: #884fc9;
  --color5: #af52aa;
  --color6: rgb(79, 67, 170);
  --font-main: "Inter", sans-serif;
  --font-logo: "Quicksand", sans-serif;
  --font-wt-very-thin: 100;
  --font-wt-thin: 300;
  --font-wt-normal: 500;
  --font-wt-semi-bold: 700;
  --font-wt-bold: 800;
}
.glass-morph {
  background: rgba(44, 44, 44, 0.3);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  /* border-radius: 10px; */
  /* border: 1px solid rgba(55, 55, 55, 0.18); */
}
::selection {
  background-color: aquamarine;
  color: darkgoldenrod;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;/* Width of the scrollbar */
  
}

::-webkit-scrollbar-thumb {
  background: white; /* Color of the thumb */
  border-radius: 2px;
  /* Rounded corners of the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color5);
  /* Color of the thumb on hover */
}

/* Customize the appearance of the track */
::-webkit-scrollbar-track {
  background: transparent;
}